<!DOCTYPE html>
<html>
<head>
    <title>Mapa Leaflet</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    
</head>
<body>
    <div id="map" style="width: 1500px; height: 800px;"></div>
    <button id="addStationButton">Adicionar Nova Estação</button>
    <script>
        var map = L.map('map').setView([-15.794092, -47.882842], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
        
        {% for station in stations %}
            L.marker([{{ station.lat }}, {{ station.lon }}])
                .addTo(map)
                .bindPopup("Estação: {{ station.station_name }} <br> Número: {{ station.station_number }}");
        {% endfor %}
    </script>
</body>
</html>